.contacts__form {
  margin-bottom: 40px;
  padding: 20px 0;
}
.contacts__form input {
  margin-bottom: 20px;
  padding: 6px;
  outline: none;
  background: #f4f2f4;
  border: 1px solid #a3a2a2;
  border-radius: 5px;
  transition: all .3s;
}
.contacts__form input[type="submit"] {
  background: #ea940a;
  color: #fff;
}
.contacts__form input[type="submit"]:hover {
  background: #f6aa31;
}
.contacts__form input[type="submit"]:focus {
  background: #f6aa31;
}
.contacts__form input:hover {
  background: #fff;
}
.contacts__form input:focus {
  background: #fff;
}
.contacts__form textarea {
  resize: vertical;
  padding: 6px;
  outline: none;
  background: #f4f2f4;
  border: 1px solid #a3a2a2;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: all .3s;
}
.contacts__form textarea:hover {
  background: #fff;
}
.contacts__form label {
  padding: 0;
  padding-right: 10px;
}
.map {
  height: 400px;
  border-top: 5px solid grey;
  border-bottom: 5px solid grey;
}
/*@font-face {
  font-family: Oswald;
  src: url("font/Oswald/Oswald-Light.ttf");
}*/
body {
  margin: 0;
}
.page-header {
  padding-top: 55px;
  padding-bottom: 55px;
  background: radial-gradient(100vh, #fff, #505050);
}
.page-header .page-nav {
  margin-bottom: 40px;
}
.page-header .page-nav__link {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.page-header .page-nav__link:hover {
  color: #ea940a;
  background: transparent !important;
}
.page-header .navbar {
  margin-bottom: 0;
}
.page-header .navbar-nav {
  background: rgba(0, 0, 0, 0.5);
  border-right: 1px solid #6c686c;
  border-radius: 6px;
}
.page-header .page-logo {
  background: #000;
  width: 200px;
  border-radius: 6px;
}
.slick-slide:focus {
  outline: none;
}
.main-slider__wrapper {
  margin-bottom: 0;
}
.main-slider__item {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}
.main-slider__item img {
  text-align: center;
  width: 100%;
}
.main-slider__item::before {
  content: '';
  display: block;
  width: 280px;
  height: 40px;
  position: absolute;
  bottom: 87px;
  left: 10px;
  transform: rotate(-3deg);
  box-shadow: 50px 50px 15px 50px rgba(0, 0, 0, 0.5);
}
.main-slider__item::after {
  content: '';
  display: block;
  width: 280px;
  height: 40px;
  position: absolute;
  bottom: 87px;
  right: 20px;
  transform: rotate(3deg);
  box-shadow: -50px 50px 15px 50px rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.main-slider .slick-dots {
  position: absolute;
  top: 100%;
}
.main-slider .slick-dots button::before {
  content: '';
  background: grey;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.main-slider .slick-active button::before {
  background: #000;
  width: 20px;
  height: 20px;
  margin-top: -5px;
  margin-left: -5px;
}
.features__wrapper {
  padding: 40px 0 20px;
}
.features__wrapper img {
  float: left;
  margin-right: 10px;
}
.features__item {
  padding: 10px;
}
.features__item h3 {
  color: #ea940a;
}
.featured-products {
  padding: 20px 0;
  background: #f4f2f4;
}
.featured-products__item {
  color: #3b3b3b;
  margin: 20px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
}
.featured-products__item:hover {
  color: #626062;
  text-decoration: none;
}
.featured-products__item img {
  width: 100%;
}
.featured-products .slick-dots {
  bottom: 100%;
  text-align: right;
}
.featured-products .slick-dots button::before {
  content: '';
  background: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  box-shadow: 0 0 0 1px #1f1f1f;
}
.featured-products .slick-active button::before {
  background: #848181;
}
.page-footer {
  background: radial-gradient(100vh, #b9b9b9, #505050);
  font-size: 12px;
  border-top: 5px solid gray;
}
.page-footer h2 {
  color: #ea940a;
}
.page-footer__wrapper {
  padding: 15px;
}
.page-footer__contacts ul {
  list-style: none;
  padding: 0;
}
.page-footer__contacts ul li {
  padding: 0;
  padding-left: 25px;
  padding-bottom: 15px;
}
.page-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 40px;
}
.page-footer__links li {
  display: inline-block;
}
.page-footer__links li:not(:last-child) a {
  border-right: 1px solid #fff;
}
.page-footer__links a {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
}
.page-footer__copy {
  float: right;
  color: #fff;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .page-footer__copy {
    float: left;
  }
}
.page-footer__address {
  background: url(../img/contacts/address.png) no-repeat 0 0;
}
.page-footer__phone {
  background: url(../img/contacts/phone.png) no-repeat 0 0;
}
.page-footer__email {
  background: url(../img/contacts/email.png) no-repeat 0 0;
}
